#login,
#register {
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter,
  .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  .message {
    position: fixed;
    top: 5%;
    right: 1%;
    width: auto;
    min-width: 250px;
    max-width: 450px;
  }
  .card {
    width: 100%;

    .card-header {
      background-color: darken($primary, 5%);
      padding: 2rem;

      .card-header-title {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
      }
    }

    .content {
      padding: 3rem;

      .options {
        color: $grey-light;
        margin-bottom: 1.5rem;

        .checkbox {
          color: $grey-light;
          font-size: 0.8rem;
        }

        a {
          font-size: 0.8rem;
        }
      }

      button {
        width: 12rem;
        background: transparent;

        &:hover,
        &:focus {
          color: darken($primary, 10%);
          border-color: darken($primary, 10%);
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}
